@charset "utf-8";
/* 你自己的样式 */
.dislpayArrow{
    background: #00efff;
}
h3,p{
    margin: 0;
    padding: 0;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
.content ul{
    text-indent: 0;
}
.flex{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */ 
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box; 
    display: flexbox; 
    display: flex;
}
.flex1{
    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1; 
    flex: 1; 
    /* for uc */
    -webkit-box-flex: 1; 
    -moz-box-flex: 1; 
    -ms-flex: 1;
}
body,html{
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 14px;
}
.content{
    width: 100%;
    height: 100%;
    background: #FBFBFB;
    font-size: 14px;
}
.Hui-aside{
    width: 199px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #E5E5E5;
}
.content_right{
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;bottom: 0;
    left: 200px;
    right: 0;
}

.tit{
    height: 50px;
    background: #FBFBFB;
    border-bottom: 1px solid #E5E5E5;
    line-height: 50px;
    font-size: 18px;
    padding-left: 20px;
}
.tit_list li{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    padding:0 8px;
}
.tit_list li.active{
    color: #65B2F8;
}
.Hui-aside .tit{
    padding: 0;
    text-align: center;
}
.menu_list{
    overflow: auto;
}
.menu_list li{
    margin-top: 2px;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: left;
    text-indent: 2em;
}
.menu_list li:hover,.menu_list li.active{
    color: #65B2F8;
    background: #F5FBFE;
}
.menu_list li a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_list li a:hover{
    text-decoration: none;
}
.menu_list li a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.card_list{
    text-indent: 0;
}
.card_list>li{
    height: auto;
    min-height: 50px;
    overflow: hidden;
    border: 1px solid #a8d1f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.card_list>li .card_right{
    width: 100px;
    margin-left: 20px;
}
.card_list>li .card_left span{
    width: 24%;
    display: inline-block;
    line-height: 28px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_list_left li{
    float: left;
    width: 23%;
    margin-right: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card_list_status1{
    margin-right: 25px;
    padding-top: 10px;
}
.card_list_status1 img{
    width: 50px;
}
.card_list li .btnbox{

}
.Hui-aside{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.content{
    position: relative;
}
.menubtn{
    position: absolute;
    height: 100px;
    width: 12px;
    cursor: pointer;
    background: url(../img/back.png) no-repeat;
    background-size: 100% 100%;
    left: 200px;
    top: 45%;
    z-index: 1;
}
.btn-primary{
    background: #65B2F8;
    border-color: #65B2F8;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background: #5a98de;
    border-color: #5a98de;
}
.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline:active, .btn-primary-outline.active{
    border-color: #5a98de;
    color: #5a98de;
}
.Hui-article{
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
}
.p_t_20{
    padding-top: 20px;
}
.p_40{
    padding: 0 40px;
}
.m_r_10{
    margin-right: 10px;
}
.m_0{
    margin: 0;
}
.m_b_10{
    margin-bottom: 10px;
}
.imgcard_box{
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}
.imgcard_box .imgcard_item{
    width: 180px;
    height: 200px;
    border: 1px solid #65B2F8;
    text-align: center;
    padding-top: 40px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    box-sizing: border-box;
}
.seat{
    height: 0;
}
.imgcard_box .imgcard_item img{
    width: 50%;
}
.imgcard_box .imgcard_item .btnbox{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 20px;
}
.imgcard_box .imgcard_item button{
    width: 100px;
    height: 25px;
    border: 1px solid #ddd;
    background: #fff;
    color: #65B2F8;
    border-radius: 10px;
    cursor: pointer;
}
.page_tit{
    width: 100%;
    height: 30px;
    background: #f1f1f1;
    padding-left: 20px;
    line-height: 30px;
}
.disinLine{
    display: inline-block;
}
.form-label{
    width: 140px;
}
.searchTabbox{
    height: 40px;
    border-bottom: 1px solid #ddd;
}
.searchTabbox .datebox{
    width: 450px;
}
.tab_bg li,.tab_color li{
    display: inline-block;
    font-size: 14px;
    padding: 0 6px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
.tab_bg li.active{
    background: #65B2F8;
}
.tab_color li.active{
    color: #65B2F8;
}
.x_ray_imgbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.x_ray_list{
    width: 220px;
    height: 100%;
    overflow: auto;
    background: #333;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.x_ray_list li{
    width: 100%;
    height: 180px;
    position: relative;
    margin-bottom: 10px;
}
.x_ray_list li img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.x_ray_info{
    height: 100%;
    /* background: #333; */
}
.x_ray_tool{
    position: absolute;
    height: 37px;
    background: #333;
    right: 30px;
    top: 5px;
    z-index: 1;
}
.x_ray_tool>li{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
.x_ray_tool>li img{
    width: 25px;
    height: 25px;
}
.scan_rate_box{
    position: relative;
}
.scan_rate_box:hover .scan_rate{
    display: block;
}
.x_ray_tool .scan_rate{
    position: absolute;
    width: 80px;
    background: #333;
    right: 0;
    top: 36px;
    border: 1px solid #ddd;
    display: none;
}
.x_ray_tool .scan_rate p{
    height: 25px;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.x_ray_tool .scan_rate p:hover{
    color: #65B2F8;
}
.x_ray_tool .scan_rate p.active{
    color: #65B2F8;
}
.x_ray_info{
    background: #333;
}
.switch1_info{
    display: table;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
    /* display: none; */
}
.switch1_info .img_item,.switch2_info .img_item{
    position: relative;
    width: 100%;
    height: 100%;
}
.switch1_info img,.switch2_info img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
.switch2_info{
    display: none;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.switch2_info_item{
    text-align: center;
    width: 50%;
    height: 50%;
    float: left;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.detail_box_info1{
    margin-top: 25px;
}
.detail_info1{
    border: 1px solid #ddd;
    padding: 20px;
    
}
.detail_info1 h3,.detail_info1 h4{
    text-align: center;
}
.detail_info1 h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.detail_info1 .detial_item h5{
    font-weight: 900;
}
.detail_info1 .detial_item p{
    text-indent: 2em;
}
.hospital_list li{
    width: 23%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #65B2F8;
    border-radius: 5px;
    margin-right: 2%;
    float: left;
    margin-bottom: 30px;
    cursor: pointer;
}
.hospital_list li img{
    border-radius: 5px;
}
.hospital_list li:nth-child(4n){
    margin-right: 0;
}
.hospital_list li p{
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.department{
    height: 100%;
}
.department_left{
    border-radius: 5px;
    height: 100%;
    width: 190px;
    box-sizing: border-box;
    padding: 10px 15px;
    border:1px solid #E5E5E5;
    margin-right: 20px;
}
.department_left_list li{
    height: 40px;
    border-bottom: 1px dashed #E5E5E5;
    line-height: 40px;
}
.department_left_list li .arrow{
    margin-top: 13px;
}
.department_left_list li a{
    display: block;
    width: 100%;
    height: 100%;
}
.department_left_list_icon{
    margin-right: 8px;
}
.f_r{
    float: right;
}
.department_right{
    overflow: auto;
}
.department_right_item{
    font-size: 14px;
}
.department_right_item h3{
    height: 40px;
    background: #f9f9f9;
    border-radius: 3px;
    line-height: 40px;
    font-size: 14px;
    position: relative;
    padding-left: 40px;
}
.department_right_item h3 span{
    display: inline-block;
    height: 18px;
    width: 3px;
    background: #41C7D6;
    position: absolute;
    top: 12px;
    left: 20px;
}
.department_right_list{
    height: auto;
    overflow: hidden;
}
.department_right_list li{
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
    line-height: 40px;
    float: left;
}
.date_warp{
    height: 100%;
}
.date_box{
    height: 100%;
    border:1px solid #E5E5E5;
    border-radius: 5px;
    overflow: auto;
}
.date_box h3{
    height: 40px;
    background:rgba(255,248,239,1);
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.date_box .date_info{
    padding: 15px;
    /* overflow: auto; */
}
.date_tab td{
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
.date_tab thead td{
    
    height: 80px;
}
.date_tab .tab_btn{
    width: 30px;
}
.date_tab .day{
    width: 80px;
}
.date_tab tbody td{
    height: 80px;
}
.date_tab  td p{
    text-align: center;
    margin: 0;
}
.date_tab .docter_info p{
    text-align: left;
    padding-left: 15px;
}
.date_tab .none{
    background: #f1f1f1;
}
.date_tab .docter_info{
    background: #F7FCFF;
}
.date_tab .ok{
    background: #E1F4FF;
    cursor: pointer;
}
.date_tab .ok p{
    color: #65B2F8;
}
.modal-title{
    color: #65B2F8;
}
.btnbox_center{
    text-align: center;
}
